body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-size: 40px;
  color: white;
  font-weight: normal;
  text-align:center;
  font-weight:normal;
}
p {
  font-size: 15px;
  color: white;
  text-align: center;
  font-weight:lighter;
}
ul{
  margin: 0;
  padding: 0;
}
li{
  list-style-type: none;
  display: inline;
}
a{
  font-size: 15px;
  text-decoration: none;
  color: black;
}
nav {
  margin: 2vh 4vw 2vh 4vw;
}
#instagram-link {
  float: right;
}
#icon{
  width: 20px;
}
#content-wrapper{
  margin: 0vh 4vw 4vh 4vw;
  height: 90%;
}
#background-image-index{
  height: 100%;
  background-position: center;
  background-size: cover;
  background-image: url("rebecca_halv.jpg");
}
#overlay-index {
  position: inherit;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.3);
}
#text-intro-index{
  position: absolute;
  width: 65vw;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}
